@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --ring: 24 5.7% 82.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* width */
.main-scroller::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.main-scroller::-webkit-scrollbar-track {
    @apply dark:bg-neutral-700;
}

/* Handle */
.main-scroller::-webkit-scrollbar-thumb {
    @apply bg-darkBlue-400 dark:bg-orange-500 rounded-lg;
}

/* Handle on hover */
.main-scroller::-webkit-scrollbar-thumb:hover {
    @apply bg-darkBlue-600 dark:bg-orange-600;
}

.button-action {
    @apply inline-flex items-center px-4 py-2 bg-darkBlue-400 dark:bg-orange-700 border border-transparent rounded-md 
            font-semibold text-xs text-white uppercase tracking-widest hover:bg-darkBlue-600 dark:hover:bg-orange-800
             focus:bg-darkBlue-800 dark:focus:bg-orange-800 active:bg-darkBlue-900 dark:active:bg-orange-900 focus:outline-none
              focus:ring-2 focus:ring-darkBlue-500 dark:focus:ring-orange-500 focus:ring-offset-2 transition ease-in-out duration-150;
}

.title-text {
    color: #121212;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    font-weight: 600;
    line-height: 146.02%;
    text-transform: none;
    font-family: var(--font-rubik);
    text-transform: uppercase;
    color: #ff8d4e;
    /* text-shadow: 0 0 7px #a34d21, 0 0 10px #a34d21, 0 0 21px #ff8d4e,
        0 0 42px #ff8d4e; */
}

.title-button {
    @apply px-4 py-2 rounded-sm font-medium;
    color: white;
    background-color: #ff7a32;
}

.title-button:hover {
    box-shadow: 0 0 7px #a34d21, 0 0 10px #a34d21, 0 0 21px #ff8d4e,
        0 0 42px #ff8d4e;
}

.glowing-shadow {
    box-shadow: 0 0 7px #a34d21, 0 0 10px #a34d21, 0 0 21px #ff8d4e,
        0 0 42px #ff8d4e;
}
